version: '3.9'

services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: image-lite
    ports:
      - '5432:5432' #à esquerda a porta da máquina, à direita a porta do docker
    volumes:
      - ./data:var/lib/postgresql/data #à esquerda a pasta onde os dados serão salvo na máquina, à direita a pasta do docker (no caso, isso "engana" o docker, ele acha que salva no própŕio endereço mas no fim salva na pasta do computador.

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
    ports:
      - '15432:80'
    depends_on:
      - db #significa que este serviço (pgadmin) depende do db, porque o pgadmin simulará nosso cliente, e o cliente só acessa um servidor que já exista
